#warp{
	margin:0 auto;
	width:99%;

	height: auto;
}

.my-header-top{
	height: 20rem;
	width: 100%;
	text-align: center;
    font-size: 3rem;
}
.my-header-top img{
	width: 7rem;
	height: 7rem;
	margin-top:5rem;
}
.my-biao{
	height: auto;
	text-align: center;
}
.my-biao input{
	height: 8rem;
	width: 80%;
	font-size: 3rem;
	border-right: 0px;
	border-left: 0px;
	border-top: 0px;
	margin: 0.5rem;
	border-bottom: 1px solid #262626;
}
.my-biao button{
	height: 7rem;
	width: 80%;
	margin-top: 1.5rem;
	font-size: 3rem;
	background-color: #D58512;
	border-radius: 1rem;
}
.pwd{
	height: 7rem;
	width: 80%;
	margin-top: 1.5rem;
	font-size: 3rem;
	border-radius: 1rem;
	text-align: center;
	border: 1px solid black;
	margin-left: 6rem;
	line-height: 7rem;
	box-sizing: border-box;
}
.my-log{
	margin-top: 6rem;
	font-size: 2rem;
	text-align: center;
}

.my-log img{
	height: 5rem;
	width: 5rem;
	border-radius: 50%;
	padding: 4rem;
}
.my-f{
	text-align: center;
	font-size: 2rem;
	margin-bottom: 10rem;
	margin-top: 4rem;
}
